<!-- <p>login works!</p>
<div class="container">
  <h1>
    variables html #
  </h1>
  <form (ngSubmit)="obtenerFormulario(formularioUsario)" #formularioUsario="ngForm">

    <h4>Estado formulario</h4>
    <h5>
      <pre>
        valid: {{formularioUsario.valid}}
        invalid: {{formularioUsario.invalid}}
        dirty: {{formularioUsario.dirty}}
        touched: {{formularioUsario.touched}}
        untouched: {{formularioUsario.untouched}}
      </pre>
    </h5>


    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      [(ngModel)]="email"
        name="email"
        placeholder="ejemplo"
        minlength="3"
        required
        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
        #campoEmail="ngModel">
      <h4>
        Estados del campo email
      </h4>
      <pre>
        valid: {{campoEmail.valid}}
        invalid: {{campoEmail.invalid}}
        dirty: {{campoEmail.dirty}}
        touched: {{campoEmail.touched}}
        untouched: {{campoEmail.untouched}}
      </pre>

      {{campoEmail.errors | json}}

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(campoEmail.errors)
    && campoEmail.dirty === true">
      <p
      *ngIf="campoEmail.errors.required">
        Campo email requerido
      </p>
      <p
      *ngIf="campoEmail.errors.minlength">
        minimo 3
      </p>
      <p
      *ngIf="campoEmail.errors.pattern">
        No es email
      </p>

    </div>



    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
      type="password"
      class="form-control"
      id="exampleInput"
      aria-describedby="emai"
      [(ngModel)]="contrasena"
        name="contrasena"
        placeholder="****"
        minlength="4"
        required
        #campoContrasena="ngModel">
    </div>


    <button
    [disabled]="formularioUsario.invalid"
    type="submit"
    class="btn btn-primary">
    Submit</button>
  </form>

</div> -->
<div class="container">
  <h2>Registro Usuario</h2>
  <form
    (ngSubmit)="obtenerFormulario(formularioUsuario)"
    #formularioUsuario="ngForm"
  >
    <div class="form-group">
      <label for="exampleInputPassword1">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Ingrese el nombre"
        minlength="3"
        required
        #campoNombre="ngModel"
      />
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="campoNombre.errors && campoNombre.dirty === true"
    >
      <p *ngIf="campoNombre.errors.required">
        Campo nombre requerido
      </p>
      <p *ngIf="campoNombre.errors.minlength">
        Minimo 3 caracteres
      </p>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="apellido"
        name="apellido"
        placeholder="Ingrese el apellido"
        minlength="3"
        required
        #campoApellido="ngModel"
      />
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="campoApellido.errors && campoApellido.dirty === true"
    >
      <p *ngIf="campoApellido.errors.required">
        Campo apellido requerido
      </p>
      <p *ngIf="campoApellido.errors.minlength">
        Minimo 3 caracteres
      </p>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Celular</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="celular"
        name="celular"
        placeholder="Ingrese el Celular"
        minlength="10"
        required
        #campoCelular="ngModel"
      />
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="campoCelular.errors && campoCelular.dirty === true"
    >
      <p *ngIf="campoCelular.errors.required">
        Campo Celular requerido
      </p>
      <p *ngIf="campoCelular.errors.minlength">
        Minimo 10 caracteres
      </p>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Correo</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        [(ngModel)]="email"
        name="email"
        placeholder="Ingrese el coreo"
        minlength="5"
        required
        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
        #campoEmail="ngModel"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="campoEmail.errors && campoEmail.dirty === true"
      >
        <p *ngIf="campoEmail.errors.required">
          Campo email requerido
        </p>
        <p *ngIf="campoEmail.errors.minlength">
          Minimo 5 caracteres
        </p>
        <p *ngIf="campoEmail.errors.pattern">
          No es email
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInput"
        aria-describedby="emai"
        [(ngModel)]="password"
        name="password"
        placeholder="*******"
        minlength="5"
        required
        #campoPassword="ngModel"
      />
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="campoPassword.errors && campoPassword.dirty === true"
    >
       <p *ngIf="campoPassword.errors.required">
        Campo password requerido
      </p>
      <p *ngIf="campoPassword.errors.minlength">
        Minimo 5 caracteres
      </p> 
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Confirme Password</label>
      <input
      type="password"
        class="form-control"
        id="exampleInput"
        aria-describedby="emai"
        [(ngModel)]="password2"
        name="password2"
        placeholder="*******"
        minlength="5"
        required
        #campoPassword2="ngModel"
       
      />
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="campoPassword2.errors && campoPassword2.dirty === true"
    >
   
    <!-- <p *ngIf="validador===false">
      Las contraseñas no coinciden
    </p>  -->
      <p *ngIf="campoPassword2.errors.required">
        Campo requerido
      </p> 
      <p *ngIf="campoPassword2.errors.minlength">
        Minimo 5 caracteres
      </p> 
      
    </div>
    <button
      [disabled]="formularioUsuario.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>

