
<!-- <div class="container"> 
  <h1 class="titulo">
    TITULO
 
  </h1>
  <div class="row" style="background-color: chartreuse;">
  Fila
  <div class="col-sm-12" style="background-color: crimson;">
columna
  </div>
  <div class="col-sm-6" style="background-color: darkgoldenrod ;">
columna
  </div>
  <div class="col-sm-6" style="background-color:  darkgreen;">
columna
  </div>
  <div class="col-sm-4" style="background-color: crimson;">
columna

  </div>
  <div class="col-sm-4" style="background-color: indigo;">
    columna</div>
    <div class="col-sm-4" style="background-color: gold;">
      columna </div>
     
  </div>
</div>
<h1>
  DIRECTIVAS
</h1>
<h4>angular => nglf: para enviar una condicional y dependiendo de la condicional se construye cierto componente</h4>
<button type="button"
 class="btn btn-outline-success"
 (click)="enventoClick()">
 Success</button>
<p *ngIf="esconderHola">
   hola</p>
<h2>angular => ngfor: sirve para recorrer una variable</h2>
{{arregloNuemros}}
<li *ngFor="let numero of arregloNuemros">
  <ul> {{numero.nombre}} </ul>
</li>

<h1>emmet: es un plugin que permite hacer codigo html mas rapido</h1>
<div class="titulo">
 titulo
</div>
<div class="row">
  <div class="row">
    <div class="col-sm-12"></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
</div> -->

<!-- DEBER : BUSCAR PAGUINA WEN NO RESPONSIVE Y HACERLA RESPONSIVE
en este caos usare el sitio web: https://www.clinicamodernaquito.com/blog  -->

  <div class="container">
  
    <div class="row">
      <div class="col-sm-12" style="background-color:#006c6D;">.</div>
      <div class="col-sm-6" style="background-color:#006c6D;">
        (02)252 1200 - (02)252  1896</div>
     <div class="col-sm-6" style="background-color:#006c6D;">
      Av. Francisco Javier Ascazubi E1-15 y Avenida 10 de Agosto</div>
      <div class="col-sm-12" style="background-color:#006c6D;">.</div>
 
  
     
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" ></a><img src="https://static.wixstatic.com/media/901ae1_a40d3bf5cf3b43c1a1bcc69413927759~mv2.png/v1/fill/w_231,h_100,al_c,q_85,usm_0.66_1.00_0.01/logo%20cmq%20verde.webp">
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">¿Quienes Somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nuestros Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nuestros Medicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contactanos</a>
        </li>
        
      </ul>
    </div>
  </nav>
  <div class="col-sm-9"><pre>
      <div class="col-sm-4" style="background-color:slategray;"><p style="color:white" >Embarazo General</p></div><p style="color: #a0796d">  
      5 precauciones que debes tener durante tu embarazo para que tu 
      bebé nazca sano y feliz </p>
      21 Nov 2019 | Mape Contenidos
    <div class="row">
      <div class="col-sm-4"><img src="https://static.wixstatic.com/media/901ae1_c210d9094b7e4babb9ac4722427507a2~mv2.jpg/v1/fill/w_296,h_197,al_c,q_80,usm_0.66_1.00_0.01/901ae1_c210d9094b7e4babb9ac4722427507a2~mv2.webp"></div>
      <div class="col-sm-4">
        Si estás embarazada, y tienes ciertos hábitos 
        nocivos, que pueden interferir gravemente 
        en el desarrollo de tu bebé, como fumar, beber 
        alcohol o consumir mucha cafeína entonces 
        es tiempo de dejarlo. Te recomendamos realizar
         ejercicio y cuidar la alimentación. No to...
         
         <button type="button" class="btn btn-outline-danger">Leer mas..</button>
        </div>
       </div>
    
             </pre>
  
      </div>
       <div class="col-sm-3"><pre>
        <p style="color:#a0796d">
          post Destacados
          ___________________ </p> 
          <img src="https://static.wixstatic.com/media/0265ec600abe44569e688eb131e00785.jpg/v1/fill/w_220,h_134,al_c,q_80,usm_0.66_1.00_0.01/0265ec600abe44569e688eb131e00785.webp"
          >        
          5 Consejos de la abuela para 
          tu embarazo que son
          totalmente ciertos

          July 11, 2019
        </pre> 
      </div>  
  
      <div class="col-sm-9"><pre>
        <div class="col-sm-4" style="background-color:slategray;"><p style="color:white" >Embarazo General</p></div><p style="color: #a0796d">  
       Beneficios de haber leido en el embarazo</p>
        21 Nov 2019 | Mape Contenidos
      <div class="row">
        <div class="col-sm-4"><img src="https://static.wixstatic.com/media/901ae1_1a10bfb2c7d144c99adc73cc310e9877~mv2.jpg/v1/fill/w_296,h_279,al_c,q_80,usm_0.66_1.00_0.01/901ae1_1a10bfb2c7d144c99adc73cc310e9877~mv2.webp"></div>
        <div class="col-sm-4">
          Si estás embarazada, y tienes ciertos hábitos 
          nocivos, que pueden interferir gravemente 
          en el desarrollo de tu bebé, como fumar, beber 
          alcohol o consumir mucha cafeína entonces 
          es tiempo de dejarlo. Te recomendamos realizar
           ejercicio y cuidar la alimentación. No to...
           
           <button type="button" class="btn btn-outline-danger">Leer mas..</button>
          </div>
         </div>
      
               </pre>
    
        </div>
      
     <div class="col-sm-3"><pre>
        <p style="color:#a0796d">
          post Recientes
          ___________________ </p> 
          <div class="col-sm-1">
          <img src="https://static.wixstatic.com/media/0265ec600abe44569e688eb131e00785.jpg/v1/fill/w_220,h_134,al_c,q_80,usm_0.66_1.00_0.01/0265ec600abe44569e688eb131e00785.webp"
          >      </div>  
          <div class="com-sm-2">
          5 Consejos de la abuela para 
          tu embarazo que son
          totalmente ciertos

          July 11, 2019</div>
        </pre> 
      </div>  
      
   

      
    </div>

  </div> 