<div class="container"> 
  <h1>
    TITULO
  </h1>
  <div class="row" style="background-color: chartreuse;">
  Fila
  <div class="col-sm-12" style="background-color: crimson;">
columna
  </div>
  <div class="col-sm-6" style="background-color: darkgoldenrod ;">
columna
  </div>
  <div class="col-sm-6" style="background-color:  darkgreen;">
columna
  </div>
  <div class="col-sm-4" style="background-color: crimson;">
columna

  </div>
  <div class="col-sm-4" style="background-color: indigo;">
    columna</div>
    <div class="col-sm-4" style="background-color: gold;">
      columna </div>
     
  </div>
</div>
