<p>CASA POKEMON</p>
 <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/login']">
   ir a login</button>
 <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/pokemon', 'listar']">
   ir apokemon listar</button>
   <button type="button" class="btn btn-primary btn-lg"[routerLink]="['/pokemon', 'crear']">
      ir apokemon crear </button>
   <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/pokemon', 'editar']">
      ir apokemon editar </button>